<body>
  <div>
    <%= flash[:notice] %>
  </div>
  <p>
    <span class="show_span">Title:</span><%= @book.title %>
  </p>
  <p>
    <span class="show_span">Body:</span><%= @book.body %>
  </p>

  <%= link_to "Edit", edit_book_path(@book.id) %>
  <span>|</span>
  <%= link_to "Back", books_path %>
</body>
